<div data-role="page" id="page">
  <header data-role="header"><img src="./css/images/rtbyflix.png"></header>
  <div data-role="content">
    <div class="content-primary">
        <div class="searchform">
          <input name="q" class="searchfield" placeholder="Search..." id="searchfield">
          <input type="button" value="" class="searchbutton" id="searchbutton">
        </div>
    </div>
    <div class="content-secondary">
        <ul data-role="listview" id="movie-list"></ul>
    </div>
  </div>
  <footer class="footer">Copyright © Flixster, Inc. All rights reserved. Copyright, Privacy Policy, Terms of Service | Ad Choices
In partnership with TMZ.com
</footer>
</div>
<div id="dialog" data-role="dialog" data-fullscreen="true">
</div>